# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/

# Environment variables
.env

# Streamlit specific cache
.streamlit/

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# macOS specific files
.DS_Store
